@model List<ToDo>

@{
    ViewData["Title"] = "List";
}

<a href="addtodo">AddToDo</a>

<table>
    <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Done</th>
        <th>Urgent</th>
    </tr>
    @foreach (var xToDo in Model)
    {
    <tr>
        <td>@xToDo.Id</td>
        <td>@xToDo.Title</td>
        <td>@xToDo.IsDone</td>
        <td>@xToDo.IsUrgent</td>
        <td>@Html.ActionLink("Delete", "DeleteToDo", new { toDoIDToDelete = xToDo.Id })</td>
        <td>
            <form action="DeleteToDo?toDoIDToDelete=@xToDo.Id" method="post">
                <input type="submit" value="delete item"/>
            </form>
        </td>
    </tr>
    }
</table>

<PropertyGroup>
    <MvcBuildViews>true</MvcBuildViews>
</PropertyGroup>
