@model ListingTodos.ViewModels.ToDoViewModel

@{
    ViewData["Title"] = "List";
}

<a href="addtodo">AddToDo</a>

@using (Html.BeginForm("list", "todo", FormMethod.Get))
{
    @Html.TextBox("searching")<input type="submit" value="Search" />

}

@if (Model.ToDos.Count() == 0)
{
    <p>No result.</p>
}
else
{
    <table>
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>Done</th>
            <th>Urgent</th>
        </tr>
        @foreach (var xToDo in Model.ToDos)
        {
        <tr>
            <td>@xToDo.Id</td>
            <td>@xToDo.Title</td>
            <td>@xToDo.IsDone</td>
            <td>@xToDo.IsUrgent</td>
            <td>
                <form action="DeleteToDo?toDoIDToDelete=@xToDo.Id" method="post">
                    <input type="submit" value="Delete" />
                </form>
            </td>
            <td>
                <form action="/ToDo/@xToDo.Id/EditToDo" method="get">
                    <input type="submit" value="Edit" />
                </form>
            </td>
        </tr>
        }
    </table> 
}

    <br />
    <table>
        <tr>
            <th>Assignee</th>
        </tr>
        @foreach (Assignee xAssignee in Model.Assignees)
        {
            <tr>
                <td></td>
                <form action="/todo/ListToDosOfAssigneePost?assigneeIdToFind=@xAssignee.Id" method="post">
                    <input type="submit" value=@xAssignee.Name/>
                </form>
            </tr>
        }
    </table>
